@page
@model Pages_About_us
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to Koi Store – Your Premium Destination for Koi Fish</p>

<p>At Koi Store, we specialize in providing high-quality Koi fish for enthusiasts and collectors. Whether you're a beginner or an experienced hobbyist, our diverse selection of beautiful Koi will enhance your pond or water garden. We carefully source our fish from trusted breeders, ensuring healthy and vibrant specimens in a variety of colors and sizes.</p>

<p>In addition to our wide range of Koi, we offer expert advice on pond setup, fish care, and maintenance to help you create the perfect aquatic environment. Join our community of passionate Koi lovers and experience the beauty and serenity that these magnificent fish bring to your home.</p>

<p>Explore our collection today and find the perfect Koi for your pond!</p>
