@page
@model RazorPages.Pages.AdminPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KoiProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KoiProfile.Type_Id" class="control-label"></label>
                <select asp-for="KoiProfile.Type_Id" class ="form-control" asp-items="ViewBag.Type_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Farm_Id" class="control-label"></label>
                <select asp-for="KoiProfile.Farm_Id" class ="form-control" asp-items="ViewBag.Farm_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Koi_Name" class="control-label"></label>
                <input asp-for="KoiProfile.Koi_Name" class="form-control" />
                <span asp-validation-for="KoiProfile.Koi_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Quantity" class="control-label"></label>
                <input asp-for="KoiProfile.Quantity" class="form-control" />
                <span asp-validation-for="KoiProfile.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Size" class="control-label"></label>
                <input asp-for="KoiProfile.Size" class="form-control" />
                <span asp-validation-for="KoiProfile.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Price" class="control-label"></label>
                <input asp-for="KoiProfile.Price" class="form-control" />
                <span asp-validation-for="KoiProfile.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Description" class="control-label"></label>
                <input asp-for="KoiProfile.Description" class="form-control" />
                <span asp-validation-for="KoiProfile.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Image" class="control-label"></label>
                <input asp-for="KoiProfile.Image" class="form-control" />
                <span asp-validation-for="KoiProfile.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Create_At" class="control-label"></label>
                <input asp-for="KoiProfile.Create_At" class="form-control" />
                <span asp-validation-for="KoiProfile.Create_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Update_At" class="control-label"></label>
                <input asp-for="KoiProfile.Update_At" class="form-control" />
                <span asp-validation-for="KoiProfile.Update_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Rating_Average_Value" class="control-label"></label>
                <input asp-for="KoiProfile.Rating_Average_Value" class="form-control" />
                <span asp-validation-for="KoiProfile.Rating_Average_Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiProfile.Status" class="control-label"></label>
                <input asp-for="KoiProfile.Status" class="form-control" />
                <span asp-validation-for="KoiProfile.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
